{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="ru" xml:lang="ru" xmlns= "http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      thead, tr {
        font-size: 10px;
      }
    </style>
    <title>Title</title>
  </head>
  <body>
    {% block content %}

    {% endblock %} 
    <script src="https://code.jquery.com/jquery-3.6.3.slim.js" integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>
    {% if messages %}
      <script>
        var info_messages = document.getElementsByClassName('alert-info');

        setTimeout(function(){
            for (var i = 0; i < info_messages.length; i ++) {
                info_messages[i].setAttribute('style', 'display:none !important');
            }
        }, 3000);
      </script>
    {% endif %}
  </body>
</html>